<!--The content below is only a placeholder and can be replaced.-->
<div style="height: 120vh;">
  <div class="jumbotron text-center">
      <h1>
          <span class="demo-title">ngx-guided-tour Demo</span>
      </h1>
  </div>

  <div height="400" class="center-content">
      <div>
          Guided tour is a great way to introduce your users to new features or remind them how to use exisiting features. Hover your mouse over the orb above to start the tour.
          <br/>
          <br/>
          Orbs are optional, If not set or set to false the tour will just start.
      </div>
  </div>

  <br/>
  <br/>

  <div class="center-content">
      <button (click)="restartTour()">
          Restart Tour
      </button>
  </div>

  <br/>
  <br/>

  <div class="center-content">
      <span class="tour-middle-content">
          Click restart to start the tour again.
          <br/>
          <br/>
          There are multiple features to correctly position and caclulate scrolling on your tours.
      </span>
  </div>

  <br/><br/>
  <div class="center-content">

  </div>

  <br/><br/>
</div>

<div class="center-content">
  <span class="tour-scroll">
      This content is on the bottom of the page so that the tour is forced to scroll to it.
  </span>
</div>

<ngx-guided-tour></ngx-guided-tour>
